body {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    font-family: Perpetua;
}

h1 {
    font-size: 75px;
}

#blog {
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(150, 100, 255);
    border-radius: 25px;
    display: flex;
    justify-content: center;
}